[project]
       description = Rights inherited by all other projects
[access "refs/*"]
       read = group Administrators
[access "refs/heads/*"]
        label-Chromatic = -2..+2 group Administrators
[capability]
       administrateServer = group Administrators
[label "Chromatic"]
        function = MaxWithBlock
        value = -2 Build Errored
        value = -1 Changes Denied 
        value =  0 Visual review required
        value = +1 Changes Accepted
        value = +2 No Changes
